p {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 30px;
    line-height: 25px;
    color: #000000;
}

main {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.r1 {
    color: red;
}
.g2{
    color: #04c60a;
}
.y3{
    color: #e9e900;
}
.b4{
    color: blue;
}
